<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <img src="images/logo.svg" alt="Logo" class="img-fluid">
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="data-simplebar">
        <li class="nav-item">
            <a class="nav-link" href="/home">
                HOME
            </a>
        </li>


        <li class="nav-title">Theme</li>

        <li class="nav-item">
            <a class="nav-link" href="/posts">
                Posts
            </a>
        </li>

        <li class="nav-title">Components</li>

        <li class="nav-group">
            <a class="nav-link nav-group-toggle" href="#">
                <svg class="nav-icon">
                    <use xlink:href="../../node_modules/@coreui/icons/sprites/free.svg#cil-puzzle"></use>
                </svg> 
            Base
            </a>

            <ul class="nav-group-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span class="nav-icon"></span>
                        Accordion
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span class="nav-icon"></span>
                        Accordion
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span class="nav-icon"></span>
                        Accordion
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>